[user]
	name = Martin Cronje
	email = martincronje@canva.com
[core]
	quotepath = false
	editor = vim
[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lg = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --graph
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	le = log --oneline --decorate
	filelog = log -u
	fl = log -u
	st = status --porcelain
	ca = commit -am
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[protocol]
	version = 2
[maintenance]
	repo = /Users/martincronje/work/canva
	repo = /Users/martincronje/work/canva-api-starter-kit-beta
	repo = /Users/martincronje/work/canva-dev
	repo = /Users/martincronje/work/canvaql
	repo = /Users/martincronje/work/canva-apps-sdk-starter-kit
	repo = /Users/martincronje/work/canva-connect-api-starter-kit
	repo = /Users/martincronje/work/docs
	repo = /Users/martincronje/work/sjn-perfizer
	repo = /Users/martincronje/work/martincronje.github.io
	repo = /Users/martincronje/work/mcp-chsarp-sdk
	repo = /Users/martincronje/work/ecosystem-sdks
	repo = /Users/martincronje/work/martinc-playground
	repo = /Users/martincronje/work/ai-hackathon-martin
	repo = /Users/martincronje/work/my-new-app
	repo = /Users/martincronje/work/notes
	repo = /Users/martincronje/work/ai-context-system
	repo = /Users/martincronje/work/martin-agent
	repo = /Users/martincronje/work/martin-notes
	repo = /Users/martincronje/work/_notes-agent
	repo = /Users/martincronje/work/_notes
	repo = /Users/martincronje/work/notes.old
	repo = /Users/martincronje/work/project-topology
	repo = /Users/martincronje/work/tech-leads-private
	repo = /Users/martincronje/work/thib-coding-agent
	repo = /Users/martincronje/work/figma-mcp-server-guide
	repo = /Users/martincronje/work/martincronje-dotfiles
[trace2]
	eventTarget = af_unix:dgram:/tmp/olly-git-trace2.sock
	configparams = remote.origin.url
